[submodule "boost"]
    path = boost
    url = https://github.com/boostorg/boost.git
    branch = boost-1.85.0
    ignore = dirty
[submodule "libp2p"]
    path = libp2p
    url = ../libp2p.git
[submodule "ipfs-lite-cpp"]
    path = ipfs-lite-cpp
    url = ../ipfs-lite-cpp.git
[submodule "restclient-cpp"]
    path = restclient-cpp
    url = https://github.com/mrtazz/restclient-cpp.git
    ignore = untracked
[submodule "celer-network/pb3-gen-sol"]
    path = celer-network/pb3-gen-sol
    url = https://github.com/celer-network/pb3-gen-sol.git
[submodule "boost-for-mobile"]
    path = boost-for-mobile
    url = ../boost-for-mobile.git
[submodule "lmdb"]
    path = lmdb
    url = ../lmdb.git
[submodule "flutter"]
    path = flutter
    url = https://github.com/flutter/flutter.git
[submodule "curl-android-ios"]
    path = curl-android-ios
    url = https://github.com/gcesarmza/curl-android-ios.git
[submodule "grpc"]
    path = grpc
    url = ../grpc
[submodule "GSL"]
    path = GSL
    url = ../GSL.git
[submodule "spdlog"]
    path = spdlog
    url = https://github.com/gabime/spdlog
[submodule "hat-trie"]
    path = hat-trie
    url = https://github.com/masterjedy/hat-trie
[submodule "Boost.DI"]
	path = Boost.DI
	url = ../Boost.DI
	branch = cpp14
[submodule "cpp-ipfs-http-client"]
    path = cpp-ipfs-http-client
    url = https://github.com/vasild/cpp-ipfs-http-client
[submodule "ipfs-pubsub"]
    path = ipfs-pubsub
    url = ../ipfs-pubsub.git
[submodule "GTest"]
    path = GTest
    url = https://github.com/google/googletest
[submodule "ed25519"]
    path = ed25519
    url = https://github.com/hyperledger/iroha-ed25519.git
[submodule "rapidjson"]
    path = rapidjson
	url = ../rapidjson
[submodule "jsonrpc-lean"]
    path = jsonrpc-lean
    url = https://github.com/uskr/jsonrpc-lean
[submodule "gnostic"]
    path = gnostic
    url = https://github.com/googleapis/gnostic
[submodule "Parabeac-Core"]
    path = Parabeac-Core
    url = https://github.com/Parabeac/Parabeac-Core.git
    branch = stable
[submodule "rocksdb"]
    path = rocksdb
    url = ../rocksdb.git
[submodule "sr25519-donna"]
    path = sr25519-donna
    url = ../sr25519-donna.git
[submodule "fmt"]
    path = fmt
    url = https://github.com/fmtlib/fmt.git
    branch = 7.1.3
[submodule "yaml-cpp"]
    path = yaml-cpp
    url = https://github.com/jbeder/yaml-cpp.git
    branch = yaml-cpp-0.7.0
[submodule "c-ares"]
    path = c-ares
    url = https://github.com/c-ares/c-ares.git
    branch = cares-1_17_2
[submodule "soralog"]
    path = soralog
	url = ../soralog
[submodule "ipfs-bitswap-cpp"]
    path = ipfs-bitswap-cpp
    url = ../ipfs-bitswap-cpp.git
[submodule "openssl"]
    path = openssl
    url = https://github.com/openssl/openssl.git
[submodule "libsecp256k1"]
    path = libsecp256k1
	url = ../secp256k1
[submodule "xxhash"]
    path = xxhash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "MoltenVK"]
    path = MoltenVK
    url = https://github.com/KhronosGroup/MoltenVK.git
[submodule "Vulkan-Headers"]
    path = Vulkan-Headers
    url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Vulkan-Loader"]
    path = Vulkan-Loader
    url = https://github.com/KhronosGroup/Vulkan-Loader.git
[submodule "Boost-for-Android"]
    url = ../Boost-for-Android.git
    path = build/Android/Boost-for-Android
[submodule "wallet-core"]
    path = wallet-core
    url = ../wallet-core.git
    ignore = dirty
[submodule "MNN"]
    path = MNN
    url = ../MNN.git
[submodule "zlib"]
    path = zlib
    url = https://github.com/madler/zlib.git
    ignore = dirty
[submodule "libssh2"]
    path = libssh2
    url = https://github.com/libssh2/libssh2.git
[submodule "AsyncIOManager"]
    path = AsyncIOManager
    url = ../AsyncIOManager.git
[submodule "cryptopp-cmake"]
    path = cryptopp-cmake
    url = https://github.com/abdes/cryptopp-cmake.git
[submodule "stb"]
    path = stb
    url = https://github.com/nothings/stb.git
[submodule "gnus_upnp"]
    path = gnus_upnp
    url = ../gnus_upnp.git
[submodule "sqlite3"]
    path = sqlite3
	url = ../sqlite-amalgamation
[submodule "SQLiteModernCpp"]
    path = SQLiteModernCpp
    url = ../sqlite_modern_cpp.git
